#container {
    height: 800px;
    width: 66%;
    margin:auto;
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#display {
    height: 300px;
    width: 200px;
}

#buttons {
    display: flex;
    justify-content: center;    
}